{% extends "base.html.twig" %} {% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-4">
        <h1>{{ property.title }}</h1>
        <h2>{{ property.rooms }} pièces , {{ property.surface }} m²</h2>
        <div style="font-size: 1.5rem; font-weight: bold;">{{ property.formattedPrice }} €</div>
        <a href="#">Contacter l'agence</a>
      </div>
    </div>
    <p>
      {{ property.description | nl2br }}
    </p>

    <div class="row">
      <div class="col-md-8">
        <h2>INFOS SUPPLEMENTAIRE:</h2>
        <table class="table table-striped">
          <tr>
            <td>Surface</td>
            <td>{{ property.surface }}</td>
          </tr>
          <tr>
            <td>Pieces</td>
            <td>{{ property.rooms }}</td>
          </tr>
          <tr>
            <td>Chambre</td>
            <td>{{ property.bedrooms }}</td>
          </tr>
          <tr>
            <td>Etage</td>
            <td>{{ property.floor }}</td>
          </tr>
          <tr>
            <td>Chauffage</td>
            <td>{{ property.heatType }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
