<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}projet_stage{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the
    following Encore helpers to start using Symfony UX #} 
    {% block stylesheets %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ asset("css/main.css") }}" />    
    {#{{
      encore_entry_link_tags("app")
    }}#} 
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{path("home")}}">HOME</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active {% if current_menu is defined and current_menu == "properties" %}active{% endif %}"
               aria-current="page" href="{{path("property.index")}}">BIENS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
               aria-current="page" href="{{path("admin.property.index")}}">ADMIN</a>
            </li>
          </ul>
          {% if app.user != true %}  
          <ul class="navbar-nav">
            <li class="nav-item">
              <a aria-current="page" href="{{path("login")}}" class="nav-link">CONNEXION</a>
            </li>
            <li class="nav-item">
              <a aria-current="page" href="{{path("registration")}}" class="nav-link">S'INSCRIRE</a>
            </li>
          </ul>
          {% endif %}
          {% if app.user %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{{path("logout")}}" class="nav-link">DECONNEXION</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block body %}
    {% endblock %} 
    
    {% block javascripts %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    ></script>
<script src="{{ asset("js/main.js") }}"></script>
    {% endblock %}
  </body>
</html>
